<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Django Forms</title>
    <!-- стилизация формы -->
    <style>
    .field{font-weight:bold;color:blue;}
    .error{color:red;}
    .myfield{color:green;}
    </style>
</head>
<body class="container">
    <form method="POST" novalidate>
        {% csrf_token %}
        <table>
        {{form}}
        </table>
        <input type="submit" value="Send" >
    </form>
   <!--
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% for error in field.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" value="Send" >
    </form>

    <h2>as_table</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Send" >
    </form>
    <h2>as_ul</h2>
    <form method="POST">
        {% csrf_token %}
        <ul>
        {{ form.as_ul }}
        </ul>
        <input type="submit" value="Send" >
    </form>
    <h2>as_p</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
        {{ form.as_p }}
        </div>
        <input type="submit" value="Send" >
    </form>
    -->
</body>
</html>