{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content %}
    <h1><a href="/form/">Форма</a></h1>
    <h1><a href="/getdb/">База данных</a></h1>
    {% load staticfiles %}
    <img src="{% static 'images/s1200.webp' %}" alt="Четкий мотик" >

    <!-- дата, время -->
    <p>{% now "N j, Y, P" %}</p>

    <!-- if-elif-else -->
    <p>{{data.n}} -
    {% if data.n > 0 %}
        Число положительное</p>
    {% elif data.n < 0 %}
        Число отрицательное</p>
    {% else %}
        Число равно нулю</p>
    {% endif %}

    <!-- for -->
    <ul>
        {% for lan in langs %}
        <li>{{ lan }}</li>
        {% empty %}
        <li>Langs array is empty</li>
        {% endfor %}
    </ul>
    <!-- переменные -->
    {% with name="Tom" age=29 %}
        <div>
            <p>Name: {{ name }}</p>
            <p>Age: {{ age }}</p>
        </div>
    {% endwith %}

{% endblock content %}

