{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block header %}Пример шаблона в Django{% endblock header %}
{% block content %}
    {% load staticfiles %}
    <h2>Статика (картинки и стили):</h2>
    <img src="{% static 'images/s1200.webp' %}" alt="Если видон эот текст, то статика не работает" >
    <h2>Специальные тэги в шаблоне:</h2>
    <!-- дата, время -->
    <h3>Дата, время:</h3>
    <p>{% now "N j, Y, P" %}</p>
    <h3>Условные операторы и циклы:</h3>
    <!-- if-elif-else -->
    <p>{{data.n}} -
    {% if data.n > 0 %}
        Число положительное</p>
    {% elif data.n < 0 %}
        Число отрицательное</p>
    {% else %}
        Число равно нулю</p>
    {% endif %}

    <!-- for -->
    <ul>
        {% for lan in langs %}
        <li>{{ lan }}</li>
        {% empty %}
        <li>Langs array is empty</li>
        {% endfor %}
    </ul>
    <h3>Переменные:</h3>
    <!-- переменные -->
    {% with name="Tom" age=29 %}
        <div>
            <p>Name: {{ name }}</p>
            <p>Age: {{ age }}</p>
        </div>
    {% endwith %}
    <h2><a href="/form/">Форма</a></h2>
    <h2><a href="/getdb/">База данных</a></h2>

{% endblock content %}

